{% extends "users/account/account_base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock %}

{% block auth_title %}重設密碼{% endblock %}

{% block auth_content %}
<p class="mb-4">忘記密碼了嗎？請輸入您的電子郵件地址，我們將發送重設密碼的連結給您。</p>

<form method="post" novalidate>
    {% csrf_token %}
    
    {% for field in form %}
    <div class="form-group">
        {{ field.label_tag }}
        {{ field }}
        {% if field.errors %}
        <div class="field-errors">
            {% for error in field.errors %}
            <span class="error-message">{{ error }}</span>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    {% endfor %}
    
    <button type="submit" class="btn btn-primary">發送重設連結</button>
</form>

<div class="auth-links">
    <p><a href="{% url 'login' %}">返回登入頁面</a></p>
</div>
{% endblock %}